h2 {
  font-size: 2.3em;
  border-bottom: 3px solid #0b3f46;
}

h3 {
  font-size: 1.4em;
}

.p-bio {
  font-size: 1.3em;
}

.p-skills {
  font-size: 1em;
}

/* Main */
.home-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

/* Barra esquerda */
.home-aside {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: darkcyan;
  box-shadow: rgb(11, 63, 70) 5px 5px;
  margin-left: 1em;
}

.bio-section {
  display: flex;
  flex-direction: column;
  width: 20vw;
  padding: 1em;
  gap: 0.5em;
}

/* Seção principal */
.home-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2em;
}

.home-articles {
  display: flex;
  flex-direction: column;
  width: 70vw;
  padding: 1em;
  gap: 1em;
  background-color: darkcyan;
  box-shadow: rgb(11, 63, 70) 5px 5px;
  margin-right: 3em;
}

.skills {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.projects-container {
  display: flex;
  flex-direction: column;
  gap: 1.3em;
}